a {
    color: inherit; 
}

body {
    margin: 0;
    font-family: 'Nunito Sans';
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: black;
}

.button {
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    width: 207px;
    height: 51px;
    background-color: unset;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 19px 23px 21px 22px; 
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #E3B873;
}



.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    font-family: Nunito Sans, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color:#E3B873;
}

.header-navigation {
    list-style: none;
    display: flex
}


.header-navigation__item {
    margin-right: 47px;
    color:  white;
    text-transform: uppercase;
    font-family: 'Nunito Sans', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    cursor: pointer;   
}

.tel {
    font-family: 'Nunito Sans', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    margin: 0;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 570px;
}

.paragraph {
    font-family: 'Nunito Sans', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;

}

.highlight {
    color: #E3B873;
}

.projects {
    background-color: black;
}

.projects-navigation {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
}

.projects-navigation__item {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding-top: 107px;
    padding-bottom: 53px;
    padding-right: 59px;
    list-style: none;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    height: 1074px;
}


.projects-hero {
    order: -1;
    padding-top: 176px;
    margin-right: 50px;
}

.projects-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 0;
}

.projects-paragraph {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.repair-info__list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    margin-top: 42px;
}

.repair-info__list__item {
    width: 213px;
}

.repair-info__list__item__head {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 9px;
    color: #E3B873;
    margin: 0;
}

.repair-info__list__item__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 34px;
    color: #FFFFFF;
    max-width: 110px;
}

.headline-white {
    margin-top: -298px;
    margin-bottom: 13px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.online-control {
    background-color: white;
}

.online-control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    margin-top: 63px;
}

.video {
    margin-top: 32px;
}

.online-control-container__paragraph {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    max-width: 681px;
    height: 131px;
    margin-top: 34px;
}

.label{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    bottom: 0px;
}

.input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: rgba(54, 54, 54, 0.5);
    height: 32px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input {
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
}

.name {
    display: flex;
    flex-direction: column;
    margin-right: 58px;
}

.phone {
    display: flex;
    flex-direction: column;
    margin-right: 49px;
}

.email {
    display: flex;
    flex-direction: column;
}

.form__checkbox {
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

.submit {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    width: 200px;
}

.repair__container {
    display: flex;
    flex-direction: column;
}

.repair {
    background-color: white;
}

.headline-black {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.repair__headline {
    margin-top: 148px;
}

.repair__content {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.repair__content__text {
    background-image: url(./images/repair-rectangle.png);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -127px;
    width: 330px;
    height: 300px;
    position: relative;
}

.repair__content__head {
    margin-top: 25px;
    margin-left: 42px;
    margin-bottom: -13px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.repair__content__item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.repair__content__price {
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 31px;
    margin-top: -27px;
    position: absolute;
}

.repair__form {
    margin-top: 131px;
    display: flex;
    justify-content: space-between;
}

.repair__form__content__item {
    width: 703px;
    height: 645px;
}

.repair__form__content__item__article {
    display: flex;
    margin-top: 78px;
}

.repair__form__content__item__image {
    background-image: url(./images/1.png);
    height: 81px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.repair__form__content__item__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    display: flex;
    align-items: center;
    max-width: 316px;
}

.repair__form__input {
    margin-left: 50px;
}

.repair__form__form {
    background-color: black;
    height: 509px;
    width: 506px;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.repair__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0px;
}

.repair__input {
    background-color: black;
    margin-bottom: 25px;  
    width: 408px;
}

.repair__input__checkbox {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.repair__form__checkbox {
    display: flex;
    margin-top: -6px;
    justify-content: end;
}

.repair__form__form__headline {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 39px;
    width: 265px;
    height: 47px;
    margin-top: -25px;
}

.call-the-measurer {
    margin-top: 39px;
    margin-left: 195px;
}

.help {
    display: flex;
    justify-content: flex-end;
    margin-top: -76px;
}

.help__button {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    height: 47px;
    border: 0px;
    background-color: white;
    margin-top: 18px;
    margin-right: 150px;
}