a {
    color: inherit; 
}

body {
    margin: 0;
    font-family: 'Nunito Sans';
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: black;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.button__aplication {
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    width: 207px;
    height: 51px;
    background-color: unset;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 19px 23px 21px 22px; 
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #E3B873;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    font-family: Nunito Sans, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color:#E3B873;
}

.header-navigation {
    list-style: none;
    display: flex
}


.header-navigation__item {
    margin-right: 47px;
    color:  white;
    text-transform: uppercase;
    font-family: 'Nunito Sans', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    cursor: pointer;   
}

.tel {
    font-family: 'Nunito Sans', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    margin: 0;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 570px;
}

.paragraph {
    font-family: 'Nunito Sans', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;

}

.highlight {
    color: #E3B873;
}

.projects {
    background-color: black;
}

.projects-navigation {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
}

.projects-navigation__item {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding-top: 107px;
    padding-bottom: 53px;
    padding-right: 59px;
    list-style: none;
}

.projects-container {
    display: flex;
    justify-content: space-between;
}


.projects-hero {
    order: -1;
    padding-top: 176px;
    margin-right: 50px;
}

.projects-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 0;
}

.projects-paragraph {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.repair-info__list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    margin-top: 42px;
}

.repair-info__list__item {
    width: 213px;
}

.repair-info__list__item__head {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 9px;
    color: #E3B873;
    margin: 0;
}

.repair-info__list__item__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 34px;
    color: #FFFFFF;
    max-width: 110px;
}